<html>
    <head>
        <% include ./../partials/head %>
    </head>
    <body>
        <% include ./../partials/header %>
        <% include ./../partials/nav %>
        <section>
            <div class="container">
                <form id="sale-filter-form" class="box b1 container ground padding-10 margin-top-10 shadow-hover">
                    <input type="text" name="customer_name" placeholder="Nome" class="box b3 input-generic center margin-top-5" autocomplete="off">
                    <input type="text" name="customer_cnpj" placeholder="CNPJ" class="box b3 input-generic center margin-top-5" autocomplete="off">
                    <select name="status" class="box b3 input-generic margin-top-5 hide-disabled">
                        <option value="Ag. pagamento">Ag. pagamento</option>
                    </select>
                    <input type="date" name="periodStart" class="box b3 input-generic center margin-top-5" autocomplete="off">
                    <input type="date" name="periodEnd" class="box b3 input-generic center margin-top-5" autocomplete="off">
                    <input type="submit" name="submit" class="box b3 submit-generic box-hover center margin-top-5 bold" value="Filtrar">
                </form>
                <div id="sale-filter-box" class="box b1 ground" style="display:none">
                    <div id="sale-filter-div" class="box b1"></div>
                    <% include ./../partials/carousel %>
                </div>
                <div id="sale-show-box" class="box b1 container ground margin-top-10 margin-bottom-15"></div>
            </div>
        </section>
        <% include ./../partials/loader %>
    </body>
    <footer>
        <% include ./../partials/footer %>
        <!-- <% include ./partial %> -->

        <script src="/javascripts/scripts/sale/model/main.js"></script>
        <script src="/javascripts/scripts/sale/controller/financial.js"></script>
        <script src="/javascripts/scripts/sale/view/financial.js"></script>
    </footer>
</html>