<html>
    <head>
        <% include ./../../partials/head %>
    </head>
    <body>
        <% include ./../../partials/header %>
        <% include ./../../partials/nav %>
        <section>
            <div class="container">
                <form id="ecommerce-sale-filter-form" class="box one container border padding-10 margin-top-5 shadow" style="display:none">
                    <input type="text" name="code" class="box b6 input-generic center margin-top-5" placeholder="Código da venda" autocomplete="off">
                    <input type="text" name="customer" class="box b3 input-generic center margin-top-5" placeholder="Nome ou usuário do cliente" autocomplete="off">
                    <select name="status" class="box b4 input-generic center margin-top-5 hide-disabled">
                        <option value="" selected>Status</option>
                        <option value="Ag. Informações">Ag. Informações</option>
                        <option value="Ag. Embalo">Ag. Embalo</option>
                        <option value="Ag. Coleta">Ag. Coleta</option>
                        <option value="Enviado">Enviado</option>
                        <option value="Cancelada">Cancelada</option>
                    </select>
                    <input type="text" name="tracker" class="box b4 input-generic center margin-top-5" placeholder="Rastreio" autocomplete="off">
                    <input type="datetime-local" class="box b3 input-generic center margin-top-5" name="periodStart">
                    <input type="datetime-local" class="box b3 input-generic center margin-top-5" name="periodEnd">
                    <input type="submit" name="submit" class="box b3 submit-generic pointer center margin-top-5 margin-bottom-5" value="Filtrar">
                </form>
                <div id="ecommerce-sale-filter-box" class="box one container padding-5 margin-top-5"></div>
                <div id="ecommerce-sale-show-box" class="box one container ground padding-5 margin-top-5" style="display:none">
                <!-- <div id="ecommerce-sale-after-sale-filter-box" class="box b1 container padding-10"></div> -->
            </div>
        </section>
        <% include ./../../partials/loader %>
    </body>
    <footer>
        <% include ./../../partials/footer %>
        <!-- <% include ./partial %> -->
        <script src="/javascripts/scripts/ecommerce/sale/model/main.js"></script>

        <script src="/javascripts/scripts/ecommerce/sale/model/after_sale.js"></script>
        <script src="/javascripts/scripts/ecommerce/sale/view/after_sale.js"></script>
        <script src="/javascripts/scripts/ecommerce/sale/controller/after_sale.js"></script>

        <script>
            document.getElementById("ecommerce-sale-filter-form").elements.namedItem("periodStart").value = lib.timestampToDatetime(lib.genTimestamp() - (lib.timestampDay()*36));
            document.getElementById("ecommerce-sale-filter-form").elements.namedItem("periodEnd").value = lib.timestampToDatetime(lib.genTimestamp() - (lib.timestampDay()*31));

            Ecommerce.sale.controller.filter.submit.click();
        </script>
    </footer>
</html>