<html>
    <head>
        <% include ./../../partials/head %>
    </head>
    <body>
        <% include ./../../partials/header %>
        <% include ./../../partials/nav %>
        <section>
            <div class="container">
                <div class="box b1 container ground padding-10 margin-top-10">
                    <div class="box b1 underline center">Buscar vendas</div>
                    <form id="ecommerce-sale-after-sale-flow-filter-form" class="box b1 container">
                        <input type="date" name="periodStart" class="box b3 input-generic margin-top-5">
                        <input type="date" name="periodEnd" class="box b3 input-generic margin-top-5">
                        <input type="text" name="code" class="box b3 input-generic ground center margin-top-5" placeholder="Código da venda" autocomplete="off">
                        <input type="text" name="customer-user" class="box b4 input-generic ground center margin-top-5" placeholder="Usuário do Cliente" autocomplete="off">
                        <input type="text" name="customer-name" class="box b4 input-generic ground center margin-top-5" placeholder="Nome do cliente" autocomplete="off">
                        <select name="status" class="box b4 input-generic center margin-top-5 hide-disabled">
                            <option value="">Experiência do cliente</option>
                            <option value="Ag. contato">Ag. contato</option>
                            <option value='Excelente'>Excelente</option>
                            <option value='Boa'>Boa</option>
                            <option value='Normal'>Normal</option>
                            <option value='Ruim'>Ruim</option>
                            <option value='Péssima'>Péssima</option>
                            <option value='Sem contato'>Sem contato</option>
                        </select>
                        <input type="submit" name="submit" value="Buscar" class="box b4 submit-generic margin-top-5">
                    </form>
                </div>
                <div id="ecommerce-sale-after-sale-flow-filter-box" class="box b1 container padding-10">
                    
                </div>
            </div>
        </section>
        <% include ./../../partials/loader %>
    </body>
    <footer>
        <% include ./../../partials/footer %>
        <% include ./partial %>

        <script src="/javascripts/scripts/ecommerce/sale/model/after_sale.js"></script>
        <script src="/javascripts/scripts/ecommerce/sale/view/after_sale.js"></script>
        <script src="/javascripts/scripts/ecommerce/sale/controller/after_sale.js"></script>

        <script>
            // Ecommerce.sale.after_sale.controller.flow.filter.submit.click();
        </script>
    </footer>
</html>