<form id="origin-payment-create-form" class="box a1 container padding-5" style="display:none;">
	<input type="hidden" name="id">
	<input type="hidden" name="origin-id">
	<div class="box a1 container margin-top-5">
		<div class="box b1 em08 georgia">Categoria do pagamento</div>
		<select name="payment-method" class="box a1 input-generic georgia">
			<option value="Pix">Pix</option>
			<option value="Transferência bancária">Transferência bancária</option>
		</select>
	</div>
	<div id="payment-pix-box" class="box a1 container margin-top-5 padding-5 border-explicit">
		<div class="box b1 georgia underline center">PIX</div>
		<div class="box b2 container">
			<div class="box b1 em08 georgia margin-top-5">Favorecido</div>
			<input type="text" name="pix-receiver" class="box a1 georgia input-generic center" placeholder="Nome do recebedor" autocomplete="off">
		</div>
		<div class="box b2 container">
			<div class="box b1 em08 georgia margin-top-5">Chave</div>
			<input type="text" name="pix-key" class="box a1 georgia input-generic center" placeholder="Chave Pix" autocomplete="off">
		</div>
	</div>
	<div id="payment-transfer-box" class="box a1 container margin-top-5 padding-5 border-explicit" style="display:none">
		<div class="box b1 georgia underline center">Transferência bancária</div>
		<div class="box b3 container">
			<div class="box b1 em08 georgia margin-top-5">Favorecido</div>
			<input type="text" name="transfer-receiver" class="box a1 georgia input-generic center" placeholder="Recebedor" autocomplete="off">
		</div>
		<div class="box b3 container">
			<div class="box b1 em08 georgia margin-top-5">CPF / CNPJ</div>
			<input type="text" name="transfer-register" class="box a1 georgia input-generic center" placeholder="CPF ou CNPJ" autocomplete="off">
		</div>
		<div class="box b3 container">
			<div class="box b1 em08 georgia margin-top-5">Banco</div>
			<input type="text" name="transfer-bank" class="box a1 georgia input-generic center" placeholder="Banco" autocomplete="off">
		</div>
		<div class="box b3 container">
			<div class="box b1 em08 georgia margin-top-5">Agência</div>
			<input type="text" name="transfer-agency" class="box a1 georgia input-generic center" placeholder="Nº da agência" autocomplete="off">
		</div>
		<div class="box b3 container">
			<div class="box b1 em08 georgia margin-top-5">Conta</div>
			<input type="text" name="transfer-account" class="box a1 georgia input-generic center" placeholder="Nº da conta" autocomplete="off">
		</div>
		<div class="box b3 container">
			<div class="box b1 em08 georgia margin-top-5">Categoria</div>
			<select name="transfer-account-type" class="box a1 georgia input-generic center hide-disabled">
				<option value="" selected disabled>Tipo de conta</option>
				<option value="Conta Corrente">Conta Corrente</option>
				<option value="Conta Poupança">Conta Poupança</option>
			</select>
		</div>
	</div>
	<input type="submit" name="submit" value="Cadastrar" class="box a1 margin-top-5 submit-generic">
</form>