<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<body>
		<% include ./../partials/header %>
        <% include ./../partials/nav %>
		<section>
			<div class="container">
				<form id="product-filter-production-kart" class="box one center ground padding-10 margin-top-10">
					<input type="hidden" name="location" value="production-kart">
					<input type="text" name="name" class="btn-generic-small" placeholder="Nome" autocomplete="off">
					<input type="text" name="code" class="btn-generic-small" placeholder="Cód" autocomplete="off">
					<select name="color" class="btn-generic-small" autocomplete="off">
						<option value="">Cor</option>
						<% for(i in productColors){ %>
							<option value="<%= productColors[i].shortcut %>"><%= productColors[i].name %></option>
						<% } %>
					</select>
					<input type="submit" class="btn-submit" value="Filtrar">
				</form>

				<form class="box one center ground padding-10 margin-top-10" id="production-product-kart-form">
					<select name="product_id" class="btn-generic-big"></select>
					<input type="number" name="product_amount" class="btn-generic-small" placeholder="Qtd" min="1" max="9999" autocomplete="off"/>
					<input type="submit" name="submit" class="btn-submit" value="Adicionar">
				</form>

				<div class="box one center ground padding-10 margin-top-10">
					<table id="production-product-kart-table" class="tbl-info box one center ground padding-10 margin-top-10"></table>
					<form id="production-simulation-form" class="box one center ground padding-10 margin-top-10">
						<input type="submit" name="submit" class="btn-submit" value="Simular">
					</form>
				</div>
				
				<div class="box one center ground padding-10 margin-top-10" id="product-production-simulation-box" style="display:none">
					<h3 class="underline bold">Simulação</h3>
					<table id="production-product-simulation-tbl" class="tbl-info box one center ground padding-10 margin-top-10"></table>
				</div>
				

				<div id="production-simulation-box" class="box one center ground padding-10 margin-top-10" style="display:none">
					<table id="production-simulation-table" class="tbl-info box one center ground padding-10 margin-top-10"></table>
				</div>
			</div>
		</section>
        <% include ./../partials/loader %>
	</body>
	<footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
		<script src="/javascripts/scripts/production/model/product.js"></script>
		<script src="/javascripts/scripts/production/controller/product.js"></script>
		<script src="/javascripts/scripts/production/view/product.js"></script>

		<script src="/javascripts/scripts/production/controller/kart.js"></script>
	</footer>
</html>