<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<body>
        <% include ./../partials/header %>
        <% include ./../partials/nav %>
		<section>
			<div class="container">
				<div class="box-1">
					<h4>Solicitar Matéria-Prima</h4>
					<form id="feedstock-filter-form" class="box-1">
						<input type="hidden" name="location" value="feedstockRequest">
						<input type="text" name="feedstock_code" class="btn-generic-small" placeholder="Cód" autocomplete="off">
						<input type="text" name="name" class="btn-generic-small" placeholder="Nome" autocomplete="off">
						<select name="color" class="btn-generic-small">
							<option value="">Cor</option>
							<% for(i in feedstockColors){ %>
								<option value="<%= feedstockColors[i].shortcut %>"><%= feedstockColors[i].name %></option>
							<% } %>
						</select>
						<input type="submit" class="btn-submit" value="Filtrar">
					</form>
					<form class="box-1" id="feedstock-request-kart-form">
						<select name="feedstock_id" class="btn-generic-big"></select>
						<input type="number" name="feedstock_amount" class="btn-generic-small" placeholder="Qtd" min="1" max="9999" autocomplete="off"/>
						<input type="submit" name="submit" class="btn-submit" value="Cadastrar">
					</form>
					<table id="feedstock-request-kart-tbl" class="tbl-info box-1"></table>
				</div>
				<div class="box-1">
					<form id="feedstock-request-form" class="box-1">
						<h3 class="underline">Retirar de</h3>
						<select name="storage_id" class="btn-generic-medium">
							<option value="">Estoque</option>
							<% for(i in feedstockStorages){ %>
								<option value="<%= feedstockStorages[i].id %>"><%= feedstockStorages[i].name %></option>
							<% } %>
						</select>
						<select name="obs" class="btn-generic-big">
							<option value="Completar estoque Mínimo">Completar estoque mínimo</option>
							<option value="Insuficiente para produção">Completar material para produção</option>
							<option value="Produção não planejada">Produção não solicitada</option>
						</select>
						<input type="submit" name="submit" class="btn-submit" value="Confirmar">
					</form>
				</div>
			</div>
		</section>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
	<footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
		<script src="/javascripts/scripts/feedstock/request.js"></script>
	</footer>
</html>