<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<body>
        <% include ./../partials/header %>
        <% include ./../partials/nav %>
		<section>
			<div class="container">
				<div class="box-1">
					<h3 class="underline">Controle de estoque</h3>
					<form id="feedstock-storage-filter-form" class="box-1">
						<input type="hidden" name="location" value="feedstockStorage">
						<select name="storage" class="btn-generic-small">
							<option value="">Estoque</option>
							<% for(i in feedstockStorages){ %>
								<option value="<%= feedstockStorages[i].id %>"><%= feedstockStorages[i].name %></option>
							<% } %>
						</select>
						<input type="text" name="feedstock_code" class="btn-generic-small" placeholder="Cód" autocomplete="off">
						<input type="text" name="name" class="btn-generic-small" placeholder="Nome" autocomplete="off">
						<select name="color" class="btn-generic-small">
							<option value="">Cor</option>
							<% for(i in feedstockColors){ %>
								<option value="<%= feedstockColors[i].shortcut %>"><%= feedstockColors[i].name %></option>
							<% } %>
						</select>
						<input type="submit" id="feedstock-storage-filter-submit" class="btn-submit" value="Filtrar">
					</form>
					<div id="feedstock-storage-admin-filter-div">
						<table class="tbl-info box-1" id="feedstock-storage-admin-filter-tbl"></table>
						<br>
						<button id="feedstockStorageAdminPrevious" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
	                    <span id="feedstockStorageAdminPageNumber"></span>
	                    <button id="feedstockStorageAdminNext" autocomplete="off" disabled>&rsaquo;&rsaquo;</button>
					</div>
				</div>
				<div class="box-1">
					<h3 class="underline">Saída Avulsa</h3>
					<form id="feedstock-request-filter-form" class="box-1">
						<input type="hidden" name="location" value="feedstockRequestStorage">
						<input type="date" class="btn-generic-big" name="feedstock_request_periodStart">
						<input type="date" class="btn-generic-big" name="feedstock_request_periodEnd">
						<select class="btn-generic-medium" name="feedstock_request_status">
							<option value="Pedido solicitado">Pedidos solicitados</option>
							<option value="Pedido confirmado">Pedidos confirmados</option>
							<option value="Pedido cancelado">Pedidos cancelados</option>
						</select>
						<input type="submit" name="submit" class="btn-submit" value="Filtrar">
					</form>
					<div id="feedstock-request-filter-div">
						<table class="tbl-info box-1" id="feedstock-request-filter-tbl"></table>
						<br>
						<button id="feedstockRequestStoragePrevious" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
	                    <span id="feedstockRequestStoragePageNumber"></span>
	                    <button id="feedstockRequestStorageNext" autocomplete="off" disabled>&rsaquo;&rsaquo;</button><br><br>
					</div>
				</div>
				<div class="box-1">
					<h3 class="underline">Retorno de matéria-prima</h3>
					<form id="feedstock-regress-filter-form" class="box-1">
						<input type="hidden" name="location" value="feedstockRegressStorage">
						<input type="date" class="btn-generic-big" name="feedstock_regress_periodStart">
						<input type="date" class="btn-generic-big" name="feedstock_regress_periodEnd">
						<select class="btn-generic-medium" name="feedstock_regress_status">
							<option value="Pedido solicitado">Pedidos solicitados</option>
							<option value="Pedido confirmado">Pedidos confirmados</option>
							<option value="Pedido cancelado">Pedidos cancelados</option>
						</select>
						<input type="submit" name="submit" class="btn-submit" value="Filtrar">
					</form>
					<div id="feedstock-regress-filter-div">
						<table class="tbl-info box-1" id="feedstock-regress-filter-tbl"></table>
						<br>
						<button id="feedstockRegressStoragePrevious" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
	                    <span id="feedstockRegressStoragePageNumber"></span>
	                    <button id="feedstockRegressStorageNext" autocomplete="off" disabled>&rsaquo;&rsaquo;</button><br><br>
					</div>
				</div>
				<div class="box-2">
					<h3 class="underline">Entrada de Compras</h3>
					<form id="feedstock-purchase-filter-form" class="box-1">
						<input type="hidden" name="location" value="feedstockPurchaseStorage">
						<input type="date" class="btn-generic-big" name="feedstock_purchase_periodStart">
						<input type="date" class="btn-generic-big" name="feedstock_purchase_periodEnd">
						<select class="btn-generic-medium" name="feedstock_purchase_status">
							<option value="Pedido solicitado">Pedidos solicitados</option>
							<option value="Pedido confirmado">Pedidos confirmados</option>
							<option value="Pedido cancelado">Pedidos cancelados</option>
						</select>
						<input type="submit" name="submit" class="btn-submit" value="Filtrar">
					</form>
					<div id="feedstock-purchase-filter-div">
						<table class="tbl-info box-1" id="feedstock-purchase-filter-tbl"></table>
						<br>
						<button id="feedstockPurchaseStoragePrevious" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
	                    <span id="feedstockPurchaseStoragePageNumber"></span>
	                    <button id="feedstockPurchaseStorageNext" autocomplete="off" disabled>&rsaquo;&rsaquo;</button><br><br>
					</div>
				</div>
				<div class="box-2">
					<h3 class="underline">Saída de Produção</h3>
					<form id="product-production-filter-form" class="box-1">
						<input type="hidden" name="location" value="productProductionFeedstockStorage">
						<input type="date" class="btn-generic-big" name="product_production_periodStart">
						<input type="date" class="btn-generic-big" name="product_production_periodEnd">
						<select class="btn-generic-medium" name="product_production_status">
							<option value="Pedido solicitado">Pedidos solicitados</option>
							<option value="Pedido confirmado">Pedidos confirmados</option>
							<option value="Pedido cancelado">Pedidos cancelados</option>
						</select>
						<input type="submit" class="btn-submit" id="product-production-filter-form-submit" value="Filtrar">
					</form>
					<div id="product-production-filter-div">
						<table class="tbl-info box-1" id="product-production-filter-tbl"></table>
						<br>
						<button id="productProductionFeedstockStoragePrevious" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
	                    <span id="productProductionFeedstockStoragePageNumber"></span>
	                    <button id="productProductionFeedstockStorageNext" autocomplete="off" disabled>&rsaquo;&rsaquo;</button><br><br>
					</div>
				</div>
				<div id="feedstock-request-show-box" class="box-1" style="display:none">
					<h3 class="underline" id="feedstock-request-show-info"></h3>
					<table class="tbl-info box-1" id="feedstock-request-show-tbl"></table>
					<h3 class="underline">Matérias-Primas</h3>
					<table class="tbl-info box-1" id="feedstock-request-feedstock-show-tbl"></table>
				</div>
				<div id="feedstock-regress-show-box" class="box-1" style="display:none">
					<h3 class="underline" id="feedstock-regress-show-info"></h3>
					<table class="tbl-info box-1" id="feedstock-regress-show-tbl"></table>
					<h3 class="underline">Matérias-Primas</h3>
					<table class="tbl-info box-1" id="feedstock-regress-feedstock-show-tbl"></table>
				</div>
				<div id="feedstock-purchase-show-box" class="box-1" style="display:none">
					<h3 class="underline" id="feedstock-purchase-show-info"></h3>
					<table class="tbl-info box-1" id="feedstock-purchase-show-tbl"></table>
					<h3 class="underline">Matérias-Primas</h3>
					<table class="tbl-info box-1" id="feedstock-purchase-feedstock-show-tbl"></table>
				</div>
				<div id="product-production-show-box" class="box-1" style="display:none">
					<h3 class="underline" id="product-production-show-info"></h3>
					<table class="tbl-info box-1" id="product-production-show-tbl"></table>
					<br>
					<h3 class="underline">Produtos</h3>
					<table class="tbl-info box-1" id="product-production-product-show-tbl"></table>
					<br>
					<h3 class="underline">Matérias-Primas</h3>
					<table class="tbl-info box-1" id="product-production-feedstock-show-tbl"></table>
				</div>
			</div>
		</section>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
	<footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
		<script src="/javascripts/scripts/feedstock/storage.js"></script>
		<script src="/javascripts/scripts/feedstock/request_report.js"></script>
		<script src="/javascripts/scripts/feedstock/regress_report.js"></script>
		<script src="/javascripts/scripts/feedstock/purchase_report.js"></script>
		<script src="/javascripts/scripts/product/production_report.js"></script>
        <script>
        	//fill date inputs
        	lib.fillDateInput(document.getElementById("feedstock-request-filter-form").elements.namedItem('feedstock_request_periodStart'));
        	lib.fillDateInput(document.getElementById("feedstock-request-filter-form").elements.namedItem('feedstock_request_periodEnd'));

        	lib.fillDateInput(document.getElementById("feedstock-regress-filter-form").elements.namedItem('feedstock_regress_periodStart'));
        	lib.fillDateInput(document.getElementById("feedstock-regress-filter-form").elements.namedItem('feedstock_regress_periodEnd'));


        	lib.fillDateInput(document.getElementById("feedstock-purchase-filter-form").elements.namedItem('feedstock_purchase_periodStart'));
        	lib.fillDateInput(document.getElementById("feedstock-purchase-filter-form").elements.namedItem('feedstock_purchase_periodEnd'));

        	lib.fillDateInput(document.getElementById("product-production-filter-form").elements.namedItem('product_production_periodStart'));
        	lib.fillDateInput(document.getElementById("product-production-filter-form").elements.namedItem('product_production_periodEnd'));
        </script>
	</footer>
</html>