<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<body>
        <% include ./../partials/header %>
        <% include ./../partials/nav %>
		<section>
			<div class="container">
				<div class="box-2">
					<form id="feedstock-storage-create-form">
						<input type="text" class="btn-generic-big" name="name" placeholder="Nome do Estoque">
						<input type="submit" id="feedstock-storage-create-submit" class="btn-submit" value="Novo Estoque">
					</form>
				</div>
				<div class="box-2">
					<form id="feedstock-storage-filter-form" class="box-1">
						<input type="hidden" name="location" value="feedstockStorageAdmin">
						<select name="storage" class="btn-generic-small">
							<option value="">Estoque</option>
							<% for(i in feedstockStorages){ %>
								<option value="<%= feedstockStorages[i].id %>"><%= feedstockStorages[i].name %></option>
							<% } %>
						</select>
						<input type="text" name="feedstock_code" class="btn-generic-small" placeholder="Cód" autocomplete="off">
						<input type="text" name="name" class="btn-generic-small" placeholder="Nome" autocomplete="off">
						<select name="color" class="btn-generic-small">
							<option value="">Cor</option>
							<% for(i in feedstockColors){ %>
								<option value="<%= feedstockColors[i].shortcut %>"><%= feedstockColors[i].name %></option>
							<% } %>
						</select>
						<input type="submit" id="feedstock-storage-filter-submit" class="btn-submit" value="Filtrar">
					</form>
					<div id="feedstock-storage-admin-filter-div">
						<table class="tbl-info box-1" id="feedstock-storage-admin-filter-tbl"></table>
						<br>
						<button id="feedstockStorageAdminPrevious" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
	                    <span id="feedstockStorageAdminPageNumber"></span>
	                    <button id="feedstockStorageAdminNext" autocomplete="off" disabled>&rsaquo;&rsaquo;</button>
					</div>
				</div>
			</div>
		</section>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
	<footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
		<script src="/javascripts/scripts/feedstock/storage.js"></script>
	</footer>
</html>