<html>
    <head>
        <% include ./../../../partials/head %>
    </head>
    <body>
        <% include ./../../../partials/header %>
        <% include ./../../../partials/nav %>
        <section class="container">
            <div class="box b2 ground padding-10">
                <div class="box b1 underline center">Relatório vendas E-commerce</div>
                <button class="box b1 submit-generic margin-top-5 pointer center" onclick="window.location.href='/ecommerce/sale/report/product'">Relátório de Produtos</button>
                <button class="box b1 submit-generic margin-top-5 pointer center" onclick="window.location.href='/ecommerce/sale/report/packment'">Relátório de Embalo</button>
            </div>
        </section>
        <% include ./../../../partials/loader %>
    </body>
    <footer>
        <% include ./../../../partials/footer %>
        <% include ./../partial %>
    </footer>
</html>