<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<body>
		<% include ./../partials/header %>
        <% include ./../partials/nav %>
		<section>
			<div class="container">
				<div class="box-2">
					INDEX	
				</div>
			</div>
		</section>
        <% include ./../partials/loader %>
	</body>
	<footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
	</footer>
</html>