<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<body>
		<% include ./../partials/header %>
        <% include ./../partials/nav %>
		<section>
			<div class="container">
				<div class="box b2 container ground border center padding-10 margin-top-10">
					<div class="box b1 underline center">Novo Produto</div>
					<form id="product-create-form" class="box b1 container">
						<input type="hidden" name="id" value="0" autocomplete="off">
						<input type="number" name="code" class="box b2 input-generic margin-top-5 center" placeholder="Cód do produto" min="1" max="9999" autocomplete="off">
						<input type="text" name="name" class="box b2 input-generic margin-top-5 center" placeholder="Nome do produto" autocomplete="off" maxlength="30">
						<select name="color" class="box b3 input-generic margin-top-5 center" autocomplete="off">
							<option value="">Cor</option>
							<% for(i in productColors){ %>
								<option value="<%= productColors[i].shortcut %>"><%= productColors[i].name %></option>
							<% } %>
						</select>
						<select name="size" class="box b3 input-generic margin-top-5 center" autocomplete="off">
							<option value="">Tamanho</option>
							<option value="ST">Sem tamanho</option>
							<option value="PP">PP</option>
							<option value="P">P</option>
							<option value="M">M</option>
							<option value="XM">XM</option>
							<option value="G">G</option>
							<option value="XG">XG</option>
							<option value="GG">GG</option>
							<option value="XGG">XGG</option>
							<option value="XXG">XXG</option>
							<option value="XXGG">XXGG</option>
						</select>
                        <input type="number" name="weight" class="box b3 input-generic center margin-top-5 bold" step="1" placeholder="Peso em gramas" onfocus="if(this.value < 1){this.value=''}" onblur="if(this.value < 1){this.value=''}" autocomplete="off" />
						<select name="brand" class="box b2 input-generic margin-top-5 center" autocomplete="off">
							<option value="">Marca do Produto</option>
							<option value="Sem marca">Sem marca</option>
							<option value="J.A Rio Militar">J.A Rio Militar</option>
						</select>
						<select name="status" class="box b2 input-generic margin-top-5 center" autocomplete="off">
							<option value="">Status</option>
							<option value="Disponível">Disponível</option>
							<option value="Indisponível">Indisponível</option>
						</select>
						<input type="text" name="image" class="box b2 input-generic margin-top-5 center" placeholder="Imagem do produto" autocomplete="off" maxlength="200">
						<input type="text" name="announcement" class="box b2 input-generic margin-top-5 center" placeholder="Link do anúncio" autocomplete="off" maxlength="200">
						<input type="submit" name="submit" class="box b1 submit-generic center box-hover margin-top-5 bold" value="Cadastrar">
					</form>
				</div>
				<div class="box b2 container ground border center padding-10 margin-top-10">
					<div class="box b1 underline center">Buscar Produtos</div>
					<form id="product-filter-form" class="box b1 container">
						<input type="number" name="code" class="box b2 input-generic margin-top-5 center" placeholder="Cód" autocomplete="off">
						<input type="text" name="name" class="box b2 input-generic margin-top-5 center" placeholder="Nome" autocomplete="off">
						<select name="color" class="box b2 input-generic margin-top-5 center" autocomplete="off">
							<option value="">Cor</option>
							<% for(i in productColors){ %>
								<option value="<%= productColors[i].shortcut %>"><%= productColors[i].name %></option>
							<% } %>
						</select>
						<select name="brand" class="box b2 input-generic margin-top-5 center" autocomplete="off">
							<option value="">Marca do Produto</option>
							<option value="Sem marca">Sem marca</option>
							<option value="J.A Rio Militar">J.A Rio Militar</option>
						</select>
						<input type="submit" name="submit" class="box b1 submit-generic center box-hover margin-top-5 bold" value="Filtrar">
					</form>

					<div id="product-filter-box" class="box b1 container ground padding-10 margin-top-10" style="display:none">
						<div id="product-filter-div" class="box b1 container"></div>
        				<% include ./../partials/carousel %>
					</div>
				</div>

				<div id="product-show-box" class="box b1 border ground padding-10 margin-top-10" style="display:none">
					<div id="product-show-div" class="box b1 container"></div>
				</div>

				<div id="product-image-box" class="box b1 ground border center padding-10 margin-top-10" style="display:none">
					<div id="product-image-div" class="box b1 center ground padding-10 margin-top-10"></div>
					<% include ./../partials/carousel %>
				</div>
				
					<!-- <button class="box b1 box-hover border center height-30 margin-top-10 bold" onclick="lib.displayDiv('product-image-div', this, '⇓ Mostrar Imagem ⇓', '⇑ Esconder Imagem ⇑');">⇑ Esconder Imagem ⇑</button> -->
			</div>
		</section>
        <% include ./../partials/loader %>
	</body>
	<footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
	</footer>
</html>