<html>
    <head>
        <% include ./../partials/head %>
    </head>
    <body>
        <% include ./../partials/header %>
        <% include ./../partials/nav %>
        <section>
            <div class="container">
                <div class="box b2 container ground border center padding-10 margin-top-10">
                    <div class="underline center">Novo pacote</div>
                    <form id="product-package-create-form" class="box b1 container">
                        <input type="hidden" name="id" value="">
                        <input type="number" name="code" class="box b4 input-generic margin-top-5 center" placeholder="Código" min="1" max="9999" autocomplete="off">
                        <input type="text" name="name" class="box b3-4 input-generic center margin-top-5" placeholder="Descrição do pacote" autocomplete="off">
                        <select name="color" class="box b4 input-generic margin-top-5 center" autocomplete="off">
                            <option value="">Cor</option>
                            <% for(i in colors){ %>
                                <option value="<%= colors[i].shortcut %>"><%= colors[i].name %></option>
                            <% } %>
                        </select>
                        <select name="status" class="box b4 input-generic margin-top-5 center" autocomplete="off">
                            <option value="Indisponível">Indisponível</option>
                            <option value="Disponível">Disponível</option>
                        </select>
                        <select name="brand" class="box b4 input-generic margin-top-5 center" autocomplete="off">
                            <option value="">Sem marca</option>
                            <option value="J.A Rio Militar">J.A Rio Militar</option>
                        </select>
                        <input type="number" name="weight" class="box b4 input-generic center margin-top-5 bold" step="1" placeholder="Peso em gramas" onfocus="if(this.value < 1){this.value=''}" onblur="if(this.value < 1){this.value=''}" autocomplete="off" />
                        <input type="text" name="image" class="box b2 input-generic center margin-top-5" placeholder="Imagem do pacote" autocomplete="off">
                        <input type="text" name="announcement" class="box b2 input-generic center margin-top-5" placeholder="Link do anúncio" autocomplete="off">
                        <input type="submit" name="submit" class="box b1 submit-generic center margin-top-5 bold" value="cadastrar">
                    </form>
                </div>

                <div id="product-package-filter-box" class="box b2 container ground border margin-top-10">
                    <form id="product-package-filter-form" class="box b1 container padding-10">
                        <input type="hidden" id="product-package-id">
                        <div class="box b1 underline center">Buscar pacotes</div>
                        <input type="number" name="code" class="box b4 input-generic margin-top-5 center" placeholder="Código" min="1" max="9999" autocomplete="off">
                        <input type="text" name="name" class="box b2 input-generic margin-top-5 center" placeholder="Nome do pacote" autocomplete="off">
                        <select name="color" class="box b4 input-generic margin-top-5 center" autocomplete="off">
                            <option value="">Cor</option>
                            <% for(i in colors){ %>
                                <option value="<%= colors[i].shortcut %>"><%= colors[i].name %></option>
                            <% } %>
                        </select>
                        <input type="submit" name="submit" class="box b1 submit-generic center margin-top-5 bold" value="Buscar">
                    </form>
                    <div id="product-package-filter-div" class="box b1 container ground padding-5"></div>
                    <% include ./../partials/carousel %>
                </div>

                <div id="product-package-show-box" class="box b2 container ground padding-10 margin-top-10" style="display:none">
                    <div id="product-package-show-div" class="box b1 container"></div>
                    <div id="product-package-image-box" class="box b1 ground border center padding-10 margin-top-10">
                        <div id="product-package-image-div" class="box b1 center ground padding-10 margin-top-10"></div>
                        <% include ./../partials/carousel %>
                    </div>
                </div>

                <div id="product-package-product-kart-box" class="box b2 container ground padding-10 margin-top-10" style="display:none;">
                    <div class="box b1 underline center">Produtos do pacote</div>
                    <form id="product-package-product-kart-form" class="box b1 container">
                        <input type="hidden" name="product_id">
                        <div class="box b2-3 container dropdown ground margin-top-5">
                            <ul class="box b1 container">
                                <li>
                                    <input type="text" id="product-package-kart-dropdown-input" name="product" data-id="" class="box b1 input-generic center" oninput="Product.controller.package.product.dropdown.filter(this, 'product-package-kart-dropdown')" placeholder="Descrição do produto" onclick="if(this.readOnly){this.value=''; this.readOnly = false;}" autocomplete="off">
                                    <ul id="product-package-kart-dropdown" class="box one"></ul>
                                </li>
                            </ul>
                        </div>
                        <input type="number" name="amount" class="box b6 input-generic center margin-top-5" placeholder="Qtd">
                        <button type="submit" name="submit" class="box b6 submit-generic border center margin-top-5 pointer"><img class='size-20 icon' src="/images/icon/increase.png"></button>
                    </form>
                    <table id="product-package-product-kart-table" class="tbl-info box b1 center ground padding-10 margin-top-10"></table>
                    <input type="button" class="box b1 submit-generic bold padding-5 margin-top-10" onclick="Product.controller.package.product.update()" value="Atualizar produtos do pacote">
                </div>
            </div>
        </section>
        <% include ./../partials/loader %>
    </body>
    <footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
        <script src="/javascripts/scripts/product/model/package.js"></script>
        <script src="/javascripts/scripts/product/view/package.js"></script>
        <script src="/javascripts/scripts/product/controller/package.js"></script>
    </footer>
</html>