<html>
  <head>
    <% include ./../partials/head %>
  </head>
  <body>
    <% include ./../partials/header %>
    <% include ./../partials/nav %>
    <section class="container">
      <div class="box b3 container ground padding-10">
        <h3 class="box a1 underline center">Administrativo</h3>
        <button class="box b1 border-explicit em11 margin-top-5 padding-5 box-hover pointer center" onclick="window.location.href='/department/manage'">Gerir departamentos e funções</button>
        <button class="box b1 border-explicit em11 margin-top-5 padding-5 box-hover pointer center" onclick="window.location.href='/signup'">Novo Colaborador</button>
        <button class="box b1 border-explicit em11 margin-top-5 padding-5 box-hover pointer center" onclick="window.location.href='/admin/user'">Gerir funcionários</button>
      </div>

      <div class="box b3 container ground padding-10">
        <h3 class="box a1 underline center">Vendas</h3>
        <button class="box b1 border-explicit em11 margin-top-5 padding-5 box-hover pointer center" onclick="window.location.href='/admin/ecommerce_sale'">E-commerce</button>
      </div>

    </section>
    <% include ./../partials/loader %>
  </body>
  <footer>
    <% include ./../partials/footer %>
  </footer>
</html>